<a href="https://colab.research.google.com/github/akhilkumar-kondamidi/akhilkumar_data690/blob/main/Assigment_03/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

# 1. Generating 100 random integers between 0 and 9 and printing them in a 10 by 10 matrix

In [1]:
import random as rd

In [2]:
for i in range(10):
  for j in range(10):
    x=rd.randint(0,9)               
    print (x,end=" ")

  print("")

9 7 0 7 9 1 0 6 6 1
8 9 4 6 4 8 5 4 7 6
7 2 2 2 6 3 6 8 4 1
7 3 2 1 5 9 9 9 4 6
9 0 4 1 0 2 9 1 8 2
0 0 3 6 0 9 5 7 7 3
9 7 1 4 3 9 5 4 4 6
3 1 6 6 7 2 3 7 3 7
0 9 4 0 6 4 0 3 2 7
7 4 7 0 1 2 2 9 1 3

# 2. Printing "@" if the random number is odd

In [3]:
for i in range(10):
  for j in range(10):
    num=rd.randint(0,9)
    if num%2 == 1:
      print("@", end=" ")#prints @ in place of odd number 
    else:
      print (num,end=" ")#prints even number

  print("")

8 4 2 2 @ @ @ 2 2 @
2 @ 0 @ 4 4 @ 8 0 @
4 8 2 @ 0 @ 4 @ @ @
@ 8 2 2 4 @ 4 8 @ 2
@ 8 2 @ 4 @ @ 8 @ @
2 @ 4 @ 6 4 @ @ @ 8
2 6 @ @ 4 @ 0 @ @ 0
@ @ 8 @ 0 8 @ @ @ 0
2 @ 6 @ 8 @ 0 6 @ 4
6 @ @ 8 0 8 @ @ 2 6

# 3.Calculating and Printing the total of each row

In [4]:
for i in range(10):
  total=0
  for j in range(10):
    num=rd.randint(0,9)  
    print (num,end=" ")
    total += num  
    
  print("*",total)

7 8 1 3 7 4 2 9 6 1 * 48
2 0 6 4 0 6 0 8 0 4 * 30
2 2 2 4 6 5 0 4 1 3 * 29
8 3 0 0 6 7 2 3 2 3 * 34
6 0 2 9 2 1 0 4 0 6 * 30
8 6 7 6 8 2 1 3 4 9 * 54
5 5 4 7 8 9 2 7 4 2 * 53
6 3 5 9 5 6 9 5 5 4 * 57
3 1 9 7 7 1 1 0 7 0 * 36
6 7 3 8 2 2 1 5 8 4 * 46

# 4.Surround the matrix with asterisks (*)

In [5]:
n=10

for j in range(n+2):
  print("*", end=" ")
print()

for i in range(10):
  print("*",end=" ")
  for j in range(10):
    num=rd.randint(0,9) 
    print (num,end= " " )
  
  print("*")

for j in range(n+2):
  print("*", end=" ")

* * * * * * * * * * * *
* 6 9 4 7 8 2 1 7 7 4 *
* 0 9 6 1 2 1 0 5 3 0 *
* 5 4 2 2 9 3 0 6 8 9 *
* 2 7 6 4 2 0 7 5 9 2 *
* 6 7 8 0 5 5 9 7 3 6 *
* 1 3 3 3 1 4 0 5 4 7 *
* 1 0 4 2 6 2 7 9 4 8 *
* 7 4 9 3 5 5 1 6 0 0 *
* 4 9 4 2 1 4 9 7 7 9 *
* 8 6 9 4 5 6 2 6 2 8 *
* * * * * * * * * * * *

# 5.Calculating and Printing the total of each row and column.

In [6]:
import numpy as np
rdnum = np.random.randint(0,9,size = (12,12))

l= [0,0,0,0,0,0,0,0,0,0]
for i in range(10):
  k = 0
  for j in range(10):
    print(rdnum[i][j], end ="  ")
    k+= rdnum[i][j] 
    l[i] += rdnum[j][i]
  print("*", k)
print(10 * "*  ", "\n", end = "")
print(*l, end = " ")

7  1  3  6  3  6  1  4  8  0  * 39
0  4  5  1  5  2  1  0  4  3  * 25
0  7  6  1  6  6  0  6  0  8  * 40
5  0  0  6  7  4  7  7  5  4  * 45
2  5  0  2  0  4  2  1  5  3  * 24
1  6  2  8  5  0  5  1  5  7  * 40
5  7  5  5  4  3  4  5  0  6  * 44
2  4  3  6  0  7  0  1  4  8  * 35
5  4  3  8  2  8  5  1  8  0  * 44
6  5  3  6  8  4  8  1  6  1  * 48
*  *  *  *  *  *  *  *  *  *
33 43 30 49 40 44 33 27 45 40