<a href="https://colab.research.google.com/github/akhilkumar-kondamidi/akhilkumar_data690/blob/main/Assignment_02/Assignment02_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment
##In class practice
- Name: Akhil Kumar Kondamidi
- Date:02/07/2022

In [3]:
import pandas as pd
data_url = "https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/775e8fdfd0fd87837e89c6e887f9b3afe8c9f95b/assignment_02/survey.csv"
df=pd.read_csv(data_url)
df.sample(3)

                     Timestamp  ...             12. Other courses taking this semester
9   2022/01/28 12:12:38 PM EST  ...                                            SENG601
14  2022/01/31 12:30:14 PM EST  ...  Introduction to Data Science | DATA 601;Data M...
7    2022/01/27 6:36:02 PM EST  ...            Introduction to Data Science | DATA 601

[3 rows x 13 columns]

In [5]:
df.describe()

                        Timestamp  ...   12. Other courses taking this semester
count                          26  ...                                       26
unique                         26  ...                                       20
top     2022/01/25 5:14:48 PM EST  ...  Introduction to Data Science | DATA 601
freq                            1  ...                                        3

[4 rows x 13 columns]

In [6]:
df.dtypes

Timestamp                                            object
1. My primary educational background                 object
2. My primary job function                           object
3. My level of computer programing knowledge         object
4. My level of Python progrmming knowledge           object
5. My level of Statistics knowledge                  object
6. My Familarity with GitHub                         object
7. My gender                                         object
8. My Birth Year                                     object
9. What do you enjoy doing in your leisure time?     object
10. What do you expect to get out of this course?    object
11. What is your long-term career goal?              object
12. Other courses taking this semester               object
dtype: object

In [8]:
df.columns

Index(['Timestamp', '1. My primary educational background',
       '2. My primary job function',
       '3. My level of computer programing knowledge',
       '4. My level of Python progrmming knowledge',
       '5. My level of Statistics knowledge', '6. My Familarity with GitHub',
       '7. My gender', '8. My Birth Year',
       '9. What do you enjoy doing in your leisure time?',
       '10. What do you expect to get out of this course?',
       '11. What is your long-term career goal?',
       '12. Other courses taking this semester'],
      dtype='object')